.RegistrationFees {
    width: 80vw;
    text-align: start;
    margin: auto;
}

.m-20 {
    margin-top: 40px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    overflow-x: auto;
}
